.btn-primary{
	background-color: black;
}

#services{
	background-color: black;
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

.left {
	text-align: left;
}

#services img{
	max-width: 100%;
}
header.masthead {
	background-image: url("/img/ett.jpg");
	height: 150vh;
}
